<!DOCTYPE html>
<html>
<head>
    <title>Welcome Letter</title>
</head>
    <body style="font-family:arial">
        <table cellspacing="0" cellpadding="0" width="650px" style="padding: 0;border-collapse:collapse; margin: 0 auto;" border="0">
            <tbody>
                <tr>
                    <td height="50"></td>
                </tr>
                <tr>
                    <td bgcolor="#238ab4">
                        <table cellspacing="0" cellpadding="0" width="580px" style="padding: 0;border-collapse:collapse; margin: 35px 15px 35px 35px; "border="0">
                            <tbody style="background-color:#f7f7f7; border-bottom:1px solid #eee;">
                                <tr>
                                    <td style="text-align:center; background-color:#f7f7f7; padding: 7px 0;">
                                        <div class="text-center logo-wrap">
                                            <img src="<%= user.logoPath %>" alt="logo.png" width="250" height="auto">
                                        </div>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td style="margin-bottom:0px; font-size:18px; font-weight:bold; color: #238ab4; text-align:left; padding: 15px;">
                                        Welcome <%= user.FirstName %> <%= user.LastName %>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px;padding: 0 15px;>
                                          ">We welcome you to the Five Two Investment family. We thank you for your business and would like to confirm that the following investments have been placed under our care:
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        1. Investec Bond - Unit Trust(52.........)
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        Inception Date: 04 December 2019
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        Intial Deposit: R900,000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        Fund Allocation:
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        50% Prescient Income Provider Fund
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        25% Coronation Strategic Income Fund
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        25% Old Mutual Gold Fund
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        The above money came from your father's inheritance.
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        Please take note of the risk profiler completed, as your investments have their fund allocation based on your needs. Therefore, please keep us informed on major changes in your life that could possibly affect this, in order for us to make the necessary changes.
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;"">
                                    Note: As discussed, we have an annual fee of 1% +vat and an upfront fee of 1% +vat on all investments managed by Five Two Investments.
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        Past performance is not an indication of future performance.
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20"></td>
                                </tr>
                                <tr>
                                    <td style="margin-bottom:0px; font-size:14px; color: #505050; text-align:left; letter-spacing: 1px; padding: 0 15px;">
                                        Please scrutinize your policy schedule and inform us of any incorrect information.
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <p style="margin: 45px 0 14px; font-size:14px; color:#238ab4; padding-left: 7px; text-align: center;">Copyright ©  <%= user.year %> FiveTwo All Rights Reserved. </p>
                                    </td>
                                </tr>
                            </tbody>    
                        </table>
                    </td>
                </tr>
            </tbody>    
        </table>
    </body>
</html>